#tl{
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	padding: 100px;
}
#t{
	border-left: 2px black solid;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	padding: 100px;
}
#tr{
	border-left: 2px black solid;
	border-bottom: 2px black solid;
	padding: 100px;
}
#cl{
	border-top: 2px black solid;
	border-right: 2px black solid;
	border-bottom: 2px black solid;
	padding: 100px;
}
#c{
	border: 2px black solid;
	padding: 100px;
}
#cr{
	border-top: 2px black solid;
	border-left: 2px black solid;
	border-bottom: 2px black solid;
	padding: 100px;
}
#bl{
	border-top: 2px black solid;
	border-right: 2px black solid;
	padding: 100px;
}
#b{
	border-top: 2px black solid;
	border-right: 2px black solid;
	border-left: 2px black solid;
	padding: 100px;
}
#br{
	border-top: 2px black solid;
	border-left: 2px black solid;
	padding: 100px;
}