body {
    background: #2e2e2e;
    font-family: apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

h1{
    font-size: 4rem;
    font-weight: 100;
    font-color: white;
}

.blurb h2 {
   color: white;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: white;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.navWrapper{
    background-image: url("mountainbackground.png") !important;
    background-size: 50% 50%;
    background-repeat: repeat-x;
    background-position: bottom;
    height: 100px;
    padding-bottom: 50px;
}

#mainNavbar {
    font-size: 1.75rem;
    font-weight: 100;
    background-color: black;
}

#mainNavbar .nav-link {
    color: white;
    background-color:black;
    position: top;
}

#mainNavbar .nav-link:hover {
    color: rgb(251, 208, 95);
    font-weight:bold;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2rem;
}
/*Navbar dropdown background*/
.nav-bckg{
    background-color: blue !important;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.part1 {
    position: absolute;
    top: 30%;
    width: 100%;
    background: black;
}

.part2b {
    position: absolute;
    top: 30%;
    width: 100%;
}

.part2 {
    margin-top: 25px;
}

#part2 {
    background: black;
}

.background2 {
    background-size: 100% 100%;
    background-attachment: fixed;
    background-size:cover;
}

#sharptop {
    background-image: url('imgs/sharptop.jpg');
    background-position: center center;
}

#mainstreet {
    background-image: url('imgs/mainst.jpg');
    background-position: center center;
}

#compass {
    background-image: url('imgs/compass.jpg');
    background-position: center center;
}

.part2-img{
    max-width:50%;
    height: auto;
    padding: .5rem;
}

#simons {
    filter:brightness(1.5);
}

#aristotle {
    filter:brightness(1.25);
}

.navbar.scrolled {
    color: white;
    background: rgba(60,60,60,.5);
    transition: background 500ms;
}

.btn.btn-default {
    color: white;
    background-color: black;
}

.btn.btn-default:hover {
    background-color: #0DA2FF;
}

.form-padder{
    padding: 5rem;
}

.form-color{
    font-color: white;
}

/*LOGIN PAGE*/

.login-background{
     background-image: url('imgs/login.JPG') !important;
     background-size:cover;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}