body {
    background: #2e2e2e;
    font-family: apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    border:none;
}

h1{
    font-size: 3em;
    font-weight: 300;
    color: #fff !important;
    font-family: 'Open Sans', sans-serif;;
}
h4 {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

div {
    border:none;
}

section {
    border:none;
}

img {
    border:none;
}
.row {
    margin:0px !important;
    border:none;
}

.blurb h2 {
   color: white;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: white;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.responsive{
    max-width:5.5%;
    height: auto;
}

/******************************************* NAVBAR  *******************************************/

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2rem;
}

.navWrapper{
    /*background-image: url("mountainbackground.png") !important;*/
    background-size: 50% 50%;
    background-repeat: repeat-x;
    background-position: bottom;
    height: 70px;/*100px;*/
}

#mainNavbar {
    font-size: 1.75rem;
    font-weight: 100;
    background-color: rgba(0,0,0,.5);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#mainNavbar .nav-link {
    background-color: rgba(0,0,0,0.0);
    position: top;
    color: rgb(247,247,247);
}

#mainNavbar .nav-link:hover {
    color: rgb(251, 208, 95);
    font-weight:bold;
}

.navbar-nav > li{
  padding-left:3vw;
  padding-right:3vw;
  font-size:.6em;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  font-family: 'Open Sans', sans-serif;
  white-space:nowrap;
}

.dropdown-menu{
    color: rgba(0,0,0,.5)!important; 
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.nav-bckgh {
    background: rgba(0,0,0,0);
}

.nav-bckg {
    background: black !important;
}

/************************************************************* CAROUSEL ******************************************************/
.carousel {
    height: 70vh !important;
    margin: 0 !important;
    padding: 0 !important;
    object-fit:cover;
    display:block;
}
.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

.carousel-item:hover h1{
    color: rgb(251, 208, 95);
}
.carousel-item:hover h4{
    color: white;
}
.carousel-inner {
    height: 70vh;
    width: 100% !important;
}
.carousel-inner img{
    display:block;
    min-height: 70vh !important;
    object-fit: cover;
}
.carousel-fit {
    background-repeat:repeat;
}

.part1 {
    position: absolute;
    top: 30%;
    width: 100%;
}

.part2b {
    position: absolute;
    top: 30%;
    width: 100%;
}

.part2 {
    margin-top: 25px;
}

#part2 {
    background-color: rgba(0,0,0,.4);
}

#sharptop {
    background-image: url('imgs/sharptop.jpg');
    background-position: center center;
}

#compass {
    background-image: url('imgs/compass.jpg');
    background-position: center center;
    background-size: cover;
}

/***************************************************************** WHAT WE DO ***********************************************/
#mainstreet {
    background-image: url('imgs/mainst.jpg');
    background-position: center center;
    background-size:cover;
}

#mainstreet:hover h1{
    color: rgb(251, 208, 95) !important;
    font-weight:bold;
}
.heads:hover h2{
    color: rgb(251, 208, 95);
}

.part2-img{
    max-width:50%;
    height: auto;
    padding: .5rem;
}

#simons {
    filter:brightness(1.5);
}

#aristotle {
    filter:brightness(1.25);
}

.scrolled {
    color: white;
    background: black !important;
    transition: background 500ms;
}

.btn.btn-default {
    color: white;
    background-color: black;
}

.btn.btn-default:hover {
    background-color: #0DA2FF;
}

.form-padder{
    padding: 5rem;
}

.form-color{
    font-color: white;
}

/***************************************************** PRINCIPLES & CULTURE ***************************************************/

/* makes background of the collapsible transparent*/
.card-body{
    background-color: rgba(200,200,200,0.3);
}

#principlesbg{
    background-color: rgba(70,70,70,.7);
    padding: 3em;
}

.btnBackgrounder {
    background-color: rgb(200,200,200);
}
button.btn {
    background-color: rgba(0,0,0,.0);
}

/************************************************************* LOGIN PAGE *****************************************************/

.login-background{
     background-image: url('imgs/login.JPG') !important;
     background-size:cover;
}

#compass:hover h1{
    color: rgb(251, 208, 95) !important;
    font-weight:bold;
}

/************************************************************* BACKGROUNDS ****************************************************/
.repeatyo {
    background-size: auto;
    background-repeat: repeat;
}
.repeat1 {
    background-image:url('./imgs/rptbackground.jpg');
    border:none;
}
.repeat2 {
    background-image:url('./imgs/rptbackground2.jpg');
    border:none;
}
.repeat3 {
    background-image:url('./imgs/teambackground.jpg');
    border:none;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}