body {
    background: #2e2e2e;
    font-family: apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

h1{
    font-size: 3em;
    font-weight: 300;
    color: #fff !important;
}
h4 {
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.blurb h2 {
   color: white;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: white;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Logo sizing */
.responsive{
    max-width: 5%;
    height: auto;
}

.navWrapper{
    background-image: url("mountainbackground.png") !important;
    background-size: 50% 50%;
    background-repeat: repeat-x;
    background-position: bottom;
    height: 100px;
    padding-bottom: 50px;
}

#mainNavbar {
    font-size: 1.75rem;
    font-weight: 100;
    background-color: white;
}

#mainNavbar .nav-link {
    color: white;
    background-color: white;
    position: top;
}

#mainNavbar .nav-link:hover {
    color: rgb(251, 208, 95);
    font-weight:bold;
}

#mainNavbar .navbar-brand {
    color: white;
    font-size: 2rem;
}
/*Navbar dropdown background*/
.nav-bckg{
    background-color: blue !important;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

/************************************************************* CAROUSEL ******************************************************/
.carousel {
    height: 70vh !important;
}
.carousel-caption {
  transform: translateY(-50%);
  bottom: 0;
  top: 50%;
}

.carousel-item:hover h1{
    color: rgb(251, 208, 95);
}
.carousel-item:hover h4{
    color: white;
}
.carousel-inner {
    height: 70vh;
}
.carousel-inner img{
    min-height: 70vh !important;
}
.carousel-fit {
    background-repeat:repeat;
}

.part1 {
    position: absolute;
    top: 30%;
    width: 100%;
}

.part2b {
    position: absolute;
    top: 30%;
    width: 100%;
}

.part2 {
    margin-top: 25px;
}

#part2 {
    background-color: rgba(0,0,0,.4);
}

#sharptop {
    background-image: url('imgs/sharptop.jpg');
    background-position: center center;
}

#compass {
    background-image: url('imgs/compass.jpg');
    background-position: center center;
    background-size: cover;
}

/***************************************************************** WHAT WE DO ***********************************************/
#mainstreet {
    background-image: url('imgs/mainst.jpg');
    background-position: center center;
}

#mainstreet:hover h1{
    color: rgb(251, 208, 95) !important;
    font-weight:bold;
}
.heads:hover h2{
    color: rgb(251, 208, 95);
}

.part2-img{
    max-width:50%;
    height: auto;
    padding: .5rem;
}

#simons {
    filter:brightness(1.5);
}

#aristotle {
    filter:brightness(1.25);
}

.navbar.scrolled {
    color: white;
    background: rgba(60,60,60,.5);
    transition: background 500ms;
}

.btn.btn-default {
    color: white;
    background-color: black;
}

.btn.btn-default:hover {
    background-color: #0DA2FF;
}

.form-padder{
    padding: 5rem;
}

.form-color{
    font-color: white;
}

/*LOGIN PAGE*/

.login-background{
     background-image: url('imgs/login.JPG') !important;
     background-size:cover;
}

#compass:hover h1{
    color: rgb(251, 208, 95) !important;
    font-weight:bold;
}

/************************************************************* BACKGROUNDS ****************************************************/
.repeatyo {
    background-size: auto;
    background-repeat: repeat;
}
.repeat1 {
    background-image:url('./imgs/rptbackground.jpg')
}
.repeat2 {
    background-image:url('./imgs/rptbackground2.jpg')
}
.repeat3 {
    background-image:url('./imgs/teambackground.jpg')
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}